page-insert {
h2{
    position: static;
}

    #profile-bg {
        /*azul: #156588
        rojo: #033C54*/
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

            /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat left top transparent;*/
        background-size: 100%;
        background-position: 50% 20%;
        background:linear-gradient(#4E8CA7 , #033C54);

        text-align: center;
 }
}
